@{
Layout = "_Layout";
}

<a href="/stylists" class="btn btn-dark">Return to list of Stylists</a>
<a href="/login" class="btn btn-dark">Return to homepage</a><br><br>

<div class="row">
    <div class="card col-md-6">
        <div class="card-body">
            <h1 class="card-title">@Model["stylist"].Name</h1><br>
            <div class="card-text">
                <h2>Years of experience:</h2><br>
                <h3>@Model["stylist"].YearsExperience</h3><br>
                <h2>Days available to work:</h2><br>
                <h3>@Model["stylist"].WorkDays</h3><br><br>
                <a href="/stylists/@Model["stylist"].Id/edit" class="btn btn-dark">Edit Stylist information</a>
                <form action="/stylists/@Model["stylist"].Id/delete" method="post">
                    <button type="submit" class="btn btn-dark">Delete Stylist AND clients</button>
                </form>
            </div>
        </div>
    </div>
    <div class="card col-md-6">
        <div class="card-body">
            <div class="card-text">
                <h1 class="card-title">@Model["stylist"].Name's Specialties:</h1><br>
                <ol>
                    @if (Model["stylistSpecialties"].Count == 0)
                    {
                        <p>No specialties have been added yet!</p>
                    }
                    @if (Model["stylistSpecialties"].Count != 0)
                    {
                        @foreach (var specialty in Model["stylistSpecialties"])
                        {
                            <li><a href="/specialties/@specialty.Id" class="btn btn-dark">@specialty.Name</a></li>
                        }
                    }
                </ol>
                <h2>Add a specialty to this stylist:</h2>
                <form action="/stylists/@Model["stylist"].Id/add-specialty" method="post" >
                  <select name='id' type='number'>
                    <option value = 0>None</option>
                    @foreach (var specialty in @Model["specialty"])
                    {
                      <option value='@specialty.Id'>@specialty.Name</option>
                    }
                  </select>
                  <button type="submit" class="btn btn-dark">Add Specialty</button>
                </form><br>
            </div>
            <h1 class="card-title">@Model["stylist"].Name's Clients:</h1><br>
            <div class="card-text">
                <ol>
                    @if (Model["clients"].Count == 0)
                    {
                        <p>No clients have been added yet!</p>
                    }
                    @if(Model["clients"].Count != 0)
                    {
                        <h2>Click a client's name to learn more:</h2>
                        @foreach (var client in @Model["clients"])
                        {
                            <li><a href="/stylists/@Model["stylist"].Id/clients/@client.Id" class="btn btn-dark">@client.Name</a></li>
                        }
                    }
                </ol>
                <a href="/stylists/@Model["stylist"].Id/clients/new" class="btn btn-dark">Add a new client</a>
                <form action="/stylists/@Model["stylist"].Id/delete-clients" method="post">
                    <button type="submit" class="btn btn-dark">Delete ALL clients</button>
                </form>
            </div>
        </div>
    </div>
</div>
